<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Spring - About us</title>
</head>
<body>
<h1> About us</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis commodo ultricies. Phasellus ut nisi sit amet urna rhoncus mollis. Quisque elementum leo ut erat accumsan sagittis. Cras eget vestibulum erat, nec ornare massa. Etiam sollicitudin arcu orci. Duis tempus mauris eget nisi aliquam eleifend. Ut faucibus ante ipsum, vitae eleifend dolor aliquam id. Curabitur suscipit, nisl iaculis faucibus consectetur, dui mi ornare libero, hendrerit finibus tortor ante in ligula.</p>
</body>
</html>