<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Spring - Terms and Conditions</title>
</head>
<body>
<h1>Terms and Conditions</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis mauris quis suscipit posuere. Nunc posuere neque nulla, in egestas turpis mattis nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla mattis, justo varius suscipit rutrum, diam magna tempor libero, in gravida ligula dolor id mi. Aenean a lacus auctor, iaculis augue non, fermentum nibh. Sed euismod risus id metus vehicula, non gravida leo imperdiet. Nulla at lacus suscipit, cursus lorem non, sagittis lectus. Fusce ut sagittis elit. In eget posuere dui, ac dignissim sapien. Sed commodo eget neque a imperdiet. Sed auctor lorem pretium nibh malesuada, in finibus dolor consectetur. Vestibulum sit amet urna diam.</p>
</body>
</html>